@font-face {
  font-family: bigjohn;
  src: url('./fonts/BIG JOHN.otf')
}

@font-face {
  font-family: slimjoe;
  src: url('./fonts/Slim Joe.otf')
}

@font-face {
  font-family: kabel;
  src: url('./fonts/Kabel Book BT_0.ttf')
}

.html, body {
  background-color: rgb(250	228	150	);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


/* welcome screen */

.welcome-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.right-div {
  display: flex;
  background-color: rgb(250	228	150	)	;
  flex-grow: 1;
  justify-content: flex-start;
  width: 40vw;
  align-items: flex-start;
 flex-direction: column;
}

.left-div {
 display: flex;
 background-color:  rgb(239	132	90	);
 flex-grow: 1;
 align-items: flex-end;
 flex-direction: column;
}

.welcome-header {
  font-size: 10vw;
  font-family: bigjohn;
  text-align: center;
  margin-top: 32vh;
  color: rgb(250	228	150	);
  height: 8vw;
 
}

.find-things {
  color: rgb(250	228	150	);
  font-family: kabel;
  margin-right: 14px;
  font-size: 2.5vw;
}

.go {
  font-family: slimjoe;
  font-size: 10vw;
  margin-top: 32vh;
  color: rgb(239	132	90	);
  height: 8.5vw;
  
}

.apple {
  height: 8vw;
  width: 8vw;
}

/* .apple:hover {
  height: 8.2vw;
  width: 8.2vw;
} */

.location-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transition: all .3s ease-in-out;
}

.location-item:hover {
  cursor: pointer;
}

.location-new-york:hover > .apple {
  height: 8.2vw;
  width: 8.2vw;
  transition: all .2s ease-in-out;
}

.location-new-york:hover > .new-york {
  color:blue;
}

.location-name {
  color: rgb(239	132	90	);
  font-family: kabel;
  font-size: 2vw;
}

.locations-div {
  display: flex;
}

.location-los-angeles:hover > .palmtree {
  height: 7.3vw;
  width: 7.3vw;
  transition: all .2s ease-in-out;
}

.location-los-angeles:hover > .los-angeles {
  color: green;
}

.location-chicago:hover > .bull {
  width: 9.4vw;
  transition: all .2s ease-in-out;
}

.location-chicago:hover > .chicago {
  color: red;
}

.palmtree {
  height: 7.1vw;
  width: 7.1vw;
  margin-top: .9vw
}

/* .palmtree:hover {
  height: 7.3vw;
  width: 7.3vw;

} */

.bull {
  width: 9.2vw;
}

/* .bull:hover {
  width: 9.4vw;
} */


/* nav */

.menu-toggle {
  margin-top: 8px;
  margin-right: 5px;
  color: rgb(239	132	90);
}

.menu-toggle:hover {
  cursor: pointer;
  color: black;
  transition: all .3s ease-in-out;
}

.large-screen {
  display: flex;
}

.logo-nav {
  position: absolute;
  top: 0 !important;
  left: 0px!important;
  margin-top: 10px;
  margin-left: 10px;
  font-family: bigjohn;
  color: rgb(239	132	90	);
}

.logo-go {
  font-family: kabel;
  position: relative;
  bottom: .51px;
  font-size: 17px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
  background-color: none;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-item {
  margin: 10px;
  color: rgb(239	132	90);
  transition: all .3s ease-in-out;
}

.nav-item:hover {
  cursor: pointer;
  color: black;
}



.arrow {
  color: rgb(239	132	90);
  transform: rotate(-90deg);
  text-align: right;
  height: 10px;
  transition: all .3s ease-in-out;
}

.arrow-turned {
  color: rgb(239	132	90);
  transform: rotate(-180deg);
  transition: all .3s ease-in-out;
  margin-right: -8px;
  margin-top: 10px;
}

.user-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-toggle:hover {
  cursor: pointer;
}

.user-toggle:hover > span  {
  color: black;
  cursor: pointer;
}

.user-toggle:hover > p  {
  color: black;
  cursor: pointer;
}

.login-list {
  display: inline;
  z-index: 2;
  position: absolute;
  top: 25px;
  width: 200px;
  right: 0px;
  background-color:  rgb(239	132	90	);
  text-align: center;
  transition: all .3s linear;
  color: rgb(250	228	150	)!important;
}

.login-hidden {
  display: none;
  position: absolute;
  top: 0px;
  transition: all .3s linear;
}

.login-list .nav-item {
  color: rgb(250	228	150	)!important;
}

.dropdown-list{
  display: inline;
  z-index: 2;
  position: absolute;
  top: 40px;
  width: 150px;
  background-color:  rgb(239	132	90	);
  text-align: center;
  transition: all .3s linear;
}

.dropdown-hidden {
  display: none;
  z-index: 2;
  position: absolute;
  top: 40px;
  width: 100px;
  background-color:  rgb(239	132	90	);
  text-align: center;
  height: 0! important;
  transition: all .3s linear;
}

.dropdown-list p {
  color: rgb(250	228	150	);
}

/* set up form */

.set-up-form {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}

.set-up-form p {
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
  color: rgb(239	132	90	);
  font-family: kabel;
  font-size: 18px;
}

.button-div input {
  font-family: kabel;
}

.button-div button {
  font-family: kabel;
  color: rgb(239	132	90	);
  border: none !important;
}

/* main page */

.favorite-checked, .favorite-unchecked {
  font-size: 40px;
  position:absolute;
  top: 44px;
  left: 50px;
}

.favorite-checked:hover, .favorite-unchecked:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}


.favorite-checked {
  color: red;
}

.favorite-unchecked {
  color: grey;
}


.date-div {
  display: flex;
  justify-content: center;
}

.date-picker {
  text-align: center;
  width: 150px;
}

.reset-btn {
  margin-left: 10px;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-frontpage-container {
  width: 350px;
  height: 200px;
  margin: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover !important;
  transition: all .2s ease-in-out;
  box-shadow: 5px 5px 0px rgb(239	132	90	);
  
}

.header-container {
  margin-top: 60px;
  margin-left: 10px;
}

.mainpage-header {
  font-family: kabel;
  color: rgb(239	132	90);
  font-size: calc(16px + 3vw);
  margin-left: 3vw;
}

.city-header {
  font-family: bigjohn;
  color: rgb(239	132	90);
  font-size: calc(28px + 6vw);
}


.event-frontpage-container:hover {
  width: 360px;
  height: 205px;
  transform: translate(-1%, 0);
  cursor: pointer;
}


.tile-time, .tile-header, .tile-date {
  font-size: 20px;
  font-family: bigjohn;
  margin-right: 10px;
  margin-top: 0;
  color: rgb(201	253	254	);
  margin-bottom: 4px;
  text-shadow: 1px 1px 4px black;
}

.tile-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tile-date {
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

.event-modal-container {
  position: absolute;
  color: rgb(239	132	90);
  width: 40%;
  max-width: 500px;
  background-color: rgb(250	228	150	);
  border: 2px solid rgb(239	132	90	);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  min-width: 350px;
  overflow: auto;
}

.event-modal-container img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border: 2px solid rgb(239	132	90	);
  border-radius: 20px;
}

.event-modal-container p {
  font-family: kabel;
  font-size: 20px;
}

.event-modal-container h1 {
  font-family: bigjohn;
  font-size: 24px;
  margin-top: 20px;
}

.address {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.description {
  margin-top: 20px;
}

.x-event {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 30px !important;
}

.x-event:hover {
  cursor: pointer;
  color: black;
}

.button-div button {
  margin-top: 0px;
  font-size: 20px;
}

.button-div button:hover {
  color: black;
}

/* account creation and sign in */

.create-account-modal, .event-modal, .add-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.187) !important;
  overflow: scroll;
}

.create-account-container {
  position: absolute;
  font-family: kabel;
  color: rgb(239	132	90);
  width: 400px;
  background-color: rgb(250	228	150	);
  border: 2px solid rgb(239	132	90	);
  padding: 10px 20px;
}

.create-account-container h1 {
  margin-bottom: 20px !important;
}

.create-account-container form label {
  font-size: 24px;
}
.create-account-container h1 {
  text-align: center;
}

.account-submit {
 margin-left: auto !important;
 margin-right: auto !important;
}

.account-submit:hover {
  color: black;
}

.x:hover {
  color: black;
  cursor: pointer;
}

.hidden {
  display: none;
}

.button-div{
  text-align: center;
}

.button-div input {
  color: rgb(239	132	90);
  font-size: 24px;
  margin-top: 10px;
}

.x {
  text-align: right;
  font-size: 24px;
}

/* add form styling */

.add-form-container {
  position: relative;
  color: rgb(239	132	90);
  width: 40%;
  min-width: 375px;
  background-color: rgb(250	228	150	);
  border: 2px solid rgb(239	132	90	);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  min-width: 350px;
  overflow:scroll;
}

.add-form-container h1 {
  font-family: bigjohn;
}

.add-form {
  /* min-width: 350px; */
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
  font-family: kabel;
  font-size: 20px;
}

.city-state-zip {
  display: flex;
  justify-content: center;
}

.state-row {
  margin-left: 10px;
  margin-right: 10px
}

.check-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.check-box-div {
  display: flex;
  justify-content: center;
}

.time-event {
  width: 195px;
  margin-left: 3px;
  margin-right: 3px;
}

.submit-btn {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* PROFILE PAGE */

.user-profile-header {
  display: flex;
  justify-content: center;
}

.my-submitted, .my-saved {
  font-family: bigjohn;
  text-align: center;
  color: rgb(239	132	90	);
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.my-submitted {
  border-right: solid 2px black;
  padding-right: 20px;
}

.my-submitted:hover, .my-saved:hover {
  color: black;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.selected {
  font-family: bigjohn;
  text-align: center;
  color: black !important;
  text-shadow: 2px 2px 0px rgb(239	132	90	)!important;
}

.small-screen {
  display: none
}

.time-event {
  width: 130px;
}

@media (max-width: 540px) {
.large-screen {
  display: none;
}

.small-screen {
  display: inline;
}
.small-screen .nav-item:hover {
  cursor: pointer;
  color: black !important;
}
.add-form-container {
  padding: 10px;
}

.create-account-container {
  width: 375px;
}

.locations-div {
  flex-direction: column;
}
.location-name {
  margin-bottom: 0;
  font-size: 20px;
}

.location-icon {
  width: 80px;
  height: 80px;
}

.location-item {
  margin-left: 30px;
}

.welcome-header, .go {
  font-size: 48px;
  margin-top: 140px;

}

.locations-div {
  margin-top: 30px;
}

.find-things {
  font-size: 18px;
  margin-right: 2px;
}

.login-list {
  margin-top: 5px;
}

}

@media (max-width: 540px) {
  .event-modal-container {
    padding: 30px;
    width: 375px;
    height: 660px;
  }
}